
.btns {
	max-width: 720px;
	display: flex;
	flex-direction: column;
	
	border: solid 2px green;
	
}
.btns > button {
	width: 100px;
	margin: 0 auto;
	background-color: lightblue;
	border: solid 2px black;
	border-radius: 4px;
	margin-top: 10px;
}
.btns>button:last-child {
	margin-bottom: 10px;
}